<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819386863792-3bttv4nm2c14q5rdk1ovds3e8opms4v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819386863792-3bttv4nm2c14q5rdk1ovds3e8opms4v6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>819386863792-n85qo10pfmj3mt3vn5q4k9soqdanltnm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzv1sYDZmjIyZdh5thP1mz_eZHAozPIkY</string>
	<key>GCM_SENDER_ID</key>
	<string>819386863792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnFlutterAmc</string>
	<key>PROJECT_ID</key>
	<string>learnblocamc</string>
	<key>STORAGE_BUCKET</key>
	<string>learnblocamc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819386863792:ios:e5dcd79dbbfb89819fab75</string>
</dict>
</plist>